
.productCreate{
    margin: 1% 2% 0% 8%;
    font-family: 'Inconsolata', monospace;
}
.productCreate input{
    padding-right: 60%;
    margin-top: 1%;
    padding-top: 1%;
    font-size: 1.6vw;
    margin-right: 10%;
}
.productCreate h3{
    font-size: 2.2vw;
}
.productCreate button{
    font-size: 2.1vw;
    padding: 1%;
}
.checkbox1{
    position: relative;
    right: -5%;
}