.productDetails{
    margin: 3%;
    padding: 2%;
    border: 1px solid gray;
}
.title{
    font-size: 2.8vw;
    text-align: center;
}
.productDetails h3{
    font-size: 1.8vw;
}
.productDetailsText{
    font-size: 1.8vw;
}